@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">4Tan</h1>
    <br>
    <br>
</div>

<form method="post">

    <input class="form-control form-control-lg" type="text" asp-for="Nickname" placeholder="Your Nick">
    <br>
    <br>
    <input class="form-control" type="text" asp-for="Title" placeholder="Title">
    <br>
    <br>
    <textarea class="form-control" asp-for="Text" rows="5" placeholder="Talk about your topic"></textarea>
    <br>
    <br>
    
    <input type="submit" class="btn btn-primary" value="Send topic">
</form>

<div style="display: inline-block">
    @{
        for (int i = 0; i < @Model.AllTopics.Count; i++)
        {
            <br>
            <br>
            <a style="font-size: 18px" href="" onclick="alert(1)">@Model.AllTopics[i].Author said: @Model.AllTopics[i].Title</a>
        }
    }
</div>